* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}

:root {
  --body-bg-color: #faf7fd;
  --purple: #bb99dd;

  /*menu colors*/
  --body-bg-color-menu: #dce4e3;
  --green: #18c29c;
  --light-green: #8ed7c6;
  --light-grey: #dce4e3;
  --text-color: #084236;
}

body {
  font-family: 'Poppins', sans-serif;
}

section {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.button-down {
  position: absolute;
  bottom: 4rem;
  right: 4rem;
  transition: transform 0.2s;
}

.button-down:hover {
  transform: translateY(-8px);
}

.button-up {
  position: absolute;
  top: 4rem;
  right: 4rem;
  transition: transform 0.2s;
}

.button-up:hover {
  transform: translateY(8px);
}

.icon {
  display: inline-block;
  width: 3.4rem;
  height: 3.4rem;
  stroke-width: 0;
  stroke: black;
  fill: black;
}

#dia2 {
  background: linear-gradient(#00e5ff, #b400fb);
}

#dia2 .container {
  display: grid;
  place-items: center;
  position: relative;
  height: 35rem;
  width: 30rem;
  background: #191919;
  border-radius: 1rem;
  overflow: hidden;
}

#dia2 .container::before {
  content: '';
  width: 10rem;
  height: 46rem;
  left: 10rem;
  top: -5rem;
  position: absolute;
  background: linear-gradient(#00e5ff, #b400fb);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#dia2 .container::after {
  content: '';
  position: absolute;
  background: #191919;
  inset: 0.3rem;
  border-radius: 0.5rem;
}

#dia2 .container h1 {
  color: white;
  position: absolute;
  z-index: 1;
  font-size: 3rem;
}

/*-------------dia 3---------------*/
#dia3 {
  background-color: black;
}
#dia3 .btn {
  width: 16rem;
  height: 5rem;
  text-transform: capitalize;
  font-weight: 700;
  text-decoration: none;
  position: relative;
}

#dia3 .text-1,
#dia3 .text-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: 50% 50% -2.5rem;
  transition: all 0.3s;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

#dia3 .text-1 {
  transform: rotateX(0deg);
  background-color: #292929;
  color: #fff;
}

#dia3 .text-2 {
  transform: rotateX(90deg);
  background-color: #eee;
  color: #131313;
}

#dia3 .btn:hover .text-1 {
  transform: rotateX(-90deg);
}

#dia3 .btn:hover .text-2 {
  transform: rotateX(0deg);
}

#dia3 .icon {
  fill: white;
  stroke: white;
}

/*----------------dia 4 - Calculadora------------------*/
.calculadora {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 15px;
}
.botao {
  width: 50px;
  height: 50px;
  font-size: 25px;
  cursor: pointer;
  margin: 3px;
  background-color: rgb(31, 31, 31);
  border: none;
  color: #fff;
}
.botao:hover {
  background-color: black;
}
#resultado {
  background-color: white;
  width: 207px;
  height: 30px;
  margin: 5px;
  font-size: 25px;
  color: black;
  text-align: right;
  padding: 5px;
}
/*------------------dia 4 - 404 page not found-------------------*/
#dia5 {
  background: linear-gradient(
    315deg,
    rgba(101, 0, 94, 1) 3%,
    rgba(60, 132, 206, 1) 38%,
    rgba(48, 238, 226, 1) 68%,
    rgba(255, 25, 25, 1) 98%
  );

  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  overflow: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: absolute;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(2) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

#dia5 .fios {
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#dia5 .fios h1 {
  font-size: 10rem;
  margin-inline: auto;
}

#dia5 .fios h3 {
  width: fit-content;
  margin-inline: auto;
}

#dia5 .fios img {
  width: 10rem;
}

/*-----------dia 6 - efeito glassmorphism----------*/
#dia6 {
  background-color: #292929;
}

#dia6 .modal {
  width: 35rem;
  height: 35rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  position: relative;
  z-index: 1;

  padding: 2rem;
  text-align: center;

  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 0.8rem 3.2rem 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);

  border-radius: 1rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.18);
}

#dia6 .modal img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border: 0.3rem solid #b400fb;
  margin-bottom: 20px;
}

#dia6 .modal h2 {
  font-size: 3rem;
}

#dia6 .modal p {
  color: white;
  font-size: 1.3rem;
}

.ball {
  height: 10rem;
  width: 10rem;
  background: linear-gradient(#00e5ff, #b400fb);
  position: absolute;
  border-radius: 50%;
  z-index: 0;
}

.balls .ball:nth-child(1) {
  top: -15rem;
  left: -15rem;
  height: 30rem;
  width: 30rem;
}

.balls .ball:nth-child(2) {
  bottom: -15rem;
  right: -15rem;
  height: 50rem;
  width: 50rem;
}

.button-up,
.button-down {
  z-index: 2;
}

/*----------dia 7 - Contador ----------------*/
#dia7 {
  gap: 2rem;
  color: white;
  background-color: grey;
}
#dia7 h1 {
  font-size: 5rem;
}
#dia7 .buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

#dia7 .buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.392);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.5s;
}

#dia7 .buttons button:hover {
  width: 100px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.392);
  cursor: pointer;
}

#dia7 .buttons button:hover::after {
  margin-left: 0.5rem;
}

#dia7 .buttons button:nth-child(1):hover::after {
  content: 'Iniciar';
}

#dia7 .buttons button:nth-child(2):hover::after {
  content: 'Parar';
}

#dia7 .buttons button:nth-child(3):hover::after {
  content: 'Reset';
}

/*------------dia 8 - toggle-------------*/
#dia8 {
  transition: 0.3s;
}
#dia8 input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

#dia8 label {
  cursor: pointer;
  width: 200px;
  height: 100px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

#dia8 label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  background: #f2eee3;
  border-radius: 90px;
  transition: 0.3s;
}

#dia8 input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

#dia8 label:active:after {
  width: 130px;
}

#dia8.dark {
  background-color: black;
}

#dia8.dark label {
  background-color: #f2eee3;
}

#dia8.dark label:after {
  background-color: grey;
}

/*---------dia 9 - loading----------*/
#dia9 {
  background-image: url('https://img.freepik.com/vetores-gratis/conceito-realista-arco-iris-colorido_52683-35882.jpg?w=996&t=st=1661370442~exp=1661371042~hmac=2bc47198b856da232c8474b515bc77b45827974ec4fa18143e9b8cbdb22b4bd2');
  background-repeat: no-repeat;
  background-size: cover;
}
#dia9 .loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 15rem;
  height: 15rem;
  margin: -7.5rem 0 0 -7.5rem;
  border: 1.6rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 1.6rem solid #3498db;
  width: 12rem;
  height: 12rem;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*------------particle.js - Dia 10---------------*/
#particles-js {
  background-color: #131313;
}

#particles-js .modal h1 {
  position: absolute;
  left: 50%;

  font-size: 3rem;

  color: white;
}

#particles-js .icon {
  fill: white;
  stroke: white;
}

/*-------------------Dia 11 - formulário---------------*/
/*para esconder labels*/

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#dia11 form {
  background-color: var(--purple);
  width: 35rem;
  height: 40rem;
  border: 1px solid white;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#dia11 form button {
  width: 55%;
  background-color: var(--purple);
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid white;
  transition: filter 0.2s;
}

#dia11 form button:hover {
  filter: brightness(1.2);
}

#dia11 form input {
  padding: 1rem;
  border-radius: 1rem;
}
/*------------------dia 12 - galeriaa---------------*/

#dia12 {
  display: inline-block;
  background-color: grey;
  text-align: center;
}

#dia12 h1 {
  margin-top: 10rem;
}
/*swiper*/
#dia12 .swiper-slide {
  height: 40rem;
  padding: 4rem 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;

  background-color: white;
}

#dia12 .swiper-slide img {
  border: 10px solid black;
  border-radius: 0.7rem;
}

#dia12 .swiper-pagination-bullet-active {
  background-color: rgb(167, 60, 206);
}

/*------------------dia 13 - menu responsivo-----------------*/
#dia13 {
  display: flex;
  justify-content: initial;
  align-items: initial;

  background-color: var(--body-bg-color-menu);
}

#dia13 .menu {
  position: relative;
  left: 0;
  width: 7.8rem;
  height: 100%;
  background-color: var(--green);

  transition: all 0.2s;
}

#dia13 .menu .menu-list {
  margin-top: 2.6rem;
  position: absolute;
  left: 2.7rem;
  /*display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;*/
}

#dia13 button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#dia13 .menu-list button {
  margin-bottom: 2.6rem;
}

#dia13 .menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

#dia13 .menu ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
}

#dia13 .menu ul,
#dia13 .menu .menu-list {
  gap: 2.1rem;
}

#dia13 .menu ul li,
#dia13 .menu ul {
  width: fit-content;
}

#dia13 .menu.open {
  width: 25rem;
}

#dia13 .menu ul li span {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-color);

  visibility: hidden;
  opacity: 0;

  transition: all 0.2s;
}

#dia13 .menu.open ul li span {
  visibility: visible;
  opacity: 1;
}

#dia13 .menu footer {
  height: 6rem;
  position: absolute;
  bottom: 0;

  background-color: var(--light-green);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#dia13 .menu footer .user {
  display: flex;
  align-items: center;
  gap: 0.9rem;

  visibility: hidden;
  opacity: 0;

  position: absolute;

  transition: all 0.2s;
}

#dia13 .menu.open footer .user {
  visibility: visible;
  opacity: 1;
}

#dia13 .menu footer button {
  padding: 1.8rem 2.8rem;
  position: relative;
  z-index: 2;
}

#dia13 .menu.open footer button {
  padding: 0;
}

#dia13 .menu.open footer .user {
  position: initial;
}

#dia13 .menu footer .user img {
  width: 4.5rem;
  border-radius: 1.2rem;
}

#dia13 .menu.open footer {
  padding-inline: 1.4rem;
}

#dia13 h2 {
  height: fit-content;
  color: var(--text-color);
  font-size: 2.5rem;
  margin-top: 1.8rem;
  margin-left: 2rem;
}

/*----------------Dia 14 - quiz----------------------*/
#dia14 {
  font-size: 1.6rem;
  color: white;
  background-color: black;
}

#dia14 .quiz {
  border: 1px solid white;
  border-radius: 0.8rem;
  padding: 2rem;

  position: relative;

  z-index: 1;
}

#dia14 .quiz header {
  margin-bottom: 1rem;
}

#dia14 .quiz header h3 {
  color: black;
}

#dia14 .quiz header h3::before {
  content: '';
  background-color: white;
  width: 100%;
  height: 50px;
  position: absolute;

  left: 0;
  top: 0;

  z-index: -1;
}

#dia14 .icon {
  fill: white;
  stroke: white;
}
/*---------------------DIA 15 - PÁGINA DE PRODUTO E-COMMERCE----------*/
#dia15 {
  display: initial;
  align-items: initial;
  justify-content: initial;
}

#dia15 .wrapper {
  height: 100vh;
  width: min(119rem, 90%);
  margin-inline: auto;
  /*margin-block: 15rem;*/

  display: grid;
  grid-template-areas: 'header header' 'photo infos';
}

#dia15 header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  grid-area: header;
  font-size: 1.4rem;
}

#dia15 header button {
  display: none;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

#dia15 header button .icon {
  width: 2rem;
}

#dia15 header ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

#dia15 header ul li:hover {
  color: orange;
  cursor: pointer;
}

#dia15 header .car-user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#dia15 header .car-user svg {
  width: 1.9rem;
}

#dia15 header .car-user img {
  width: 4rem;
  border-radius: 4rem;
}

#dia15 .photos {
  grid-area: photo;
  margin-right: 2rem;
  position: relative;
  height: 48.1rem;

  background-image: url('https://images.unsplash.com/photo-1595950653106-6c9ebd614d3a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
  background-repeat: no-repeat;
  width: 38.7rem;
}

#dia15 .photos:hover::after {
  content: 'Mais fotos';
  width: 100%;
  height: 100%;
  height: 58.1rem;
  background-color: rgba(255, 255, 255, 0.648);

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  cursor: pointer;
}

#dia15 .infos {
  grid-area: infos;
  align-self: center;
}

#dia15 .text {
  margin-bottom: 2rem;
}

#dia15 .text h4 {
  text-transform: uppercase;
  color: orange;
  font-size: 1.6rem;
}

#dia15 .text h2 {
  font-size: 3rem;
}

#dia15 .text p {
  color: gray;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

#dia15 .price div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#dia15 .price h3 {
  font-size: 2.5rem;
}

#dia15 .price span {
  color: orange;
  background-color: rgb(255, 165, 0, 0.1);
  font-size: 1.8rem;
  border-radius: 0.7rem;
  padding: 0.8rem;
}

#dia15 .price h4 {
  font-size: 1.4rem;
  position: relative;
  color: grey;
}

#dia15 .price h4::after {
  content: '';
  height: 1px;
  width: 6rem;
  background-color: grey;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 1rem;
}

#dia15 .add-to-cart {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#dia15 .add-to-cart .counter {
  width: 10rem;
  background-color: rgb(0, 0, 0, 0.1);
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  font-size: 1.5rem;
}

#dia15 .add-to-cart .counter span:nth-child(1) {
  margin-right: 1rem;
  color: orange;
  cursor: pointer;
}

#dia15 .add-to-cart .counter span:nth-child(3) {
  margin-left: 1rem;
  color: orange;
  cursor: pointer;
}

#dia15 .add-to-cart button {
  padding: 1.5rem;
  text-transform: uppercase;
  color: white;
  background-color: orange;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
}

#dia15 .add-to-cart button:hover {
  filter: brightness(1.2);
}

#dia15 .swiper-container {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100vw;
  height: 100vh;

  visibility: hidden;
  opacity: 0;
}

body.active {
  overflow: hidden;
}

body.active #dia15 .swiper-container {
  visibility: visible;
  opacity: 1;
}

#dia15 .swiper-container .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*-----------------api---------------*/
#dia16 {
  flex-direction: column;
  background-color: #084236;
}
#dia16 p#user {
  font-size: 4rem;
  color: var(--green);
  margin-bottom: 2rem;
}
#dia16 p#userName {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#dia16 a {
  color: white;
  font-size: 1.5rem;
}

#dia16 img {
  margin-top: 2rem;
  border-radius: 50%;
  width: 30rem;
  border: 3px solid var(--green);
  padding: 0.6rem;
  transition: width 0.2s;
}

#dia16 img:hover {
  width: 32rem;
}

/*---------------------------dia 17 - Eventos Keyboard ----------------------*/
#dia17 {
  flex-direction: column;
}

#dia17 .events-key {
  margin-top: 2rem;

  display: flex;
  align-items: center;
  gap: 3rem;
}

#dia17 .events-key h3 {
  font-size: 3rem;
  color: var(--purple);
}

#dia17 .events-key span {
  font-size: 1.5rem;
  font-weight: 400;
}

@media (max-width: 1024px) {
  #dia15 .wrapper {
    grid-template-areas: 'header header' 'photo photo' 'infos infos';
    width: min(34.7rem, 100%);
  }

  #dia15 header {
    padding-block: 1rem;
  }

  #dia15 .menu {
    position: fixed;
    background-color: black;
    color: white;
    z-index: 101;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    visibility: hidden;
    opacity: 0;
  }

  body.menu-expanded {
    overflow: hidden;
  }

  body.menu-expanded #dia15 .menu {
    visibility: visible;
    opacity: 1;
  }

  #dia15 header button {
    display: initial;
  }

  #dia15 .close-menu {
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 101;
    visibility: hidden;
    opacity: 0;
    background-color: black;
  }

  #dia15 .close-menu .icon {
    fill: white;
    stroke: white;
  }

  body.menu-expanded #dia15 .close-menu {
    visibility: visible;
    opacity: 1;
  }

  #dia15 header .open-menu {
    width: 2rem;
    color: black;
  }

  body.menu-expanded #dia15 .open-menu {
    visibility: hidden;
    opacity: 0;
  }

  #dia15 header ul {
    flex-direction: column;
  }

  #dia15 .photos {
    margin: 0;
    width: 100%;
    background-size: cover;
  }

  #dia15 .swiper-slide img {
    width: 80%;
  }
}
