* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
}

section {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.button-down {
  position: absolute;
  bottom: 4rem;
  right: 4rem;
  transition: transform 0.2s;
}

.button-down:hover {
  transform: translateY(-8px);
}

.button-up {
  position: absolute;
  top: 4rem;
  right: 4rem;
  transition: transform 0.2s;
}

.button-up:hover {
  transform: translateY(8px);
}

.icon {
  display: inline-block;
  width: 3.4rem;
  height: 3.4rem;
  stroke-width: 0;
  stroke: black;
  fill: black;
}

#dia2 {
  background: linear-gradient(#00e5ff, #b400fb);
}

#dia2 .container {
  display: grid;
  place-items: center;
  position: relative;
  height: 35rem;
  width: 30rem;
  background: #191919;
  border-radius: 1rem;
  overflow: hidden;
}

#dia2 .container::before {
  content: '';
  width: 10rem;
  height: 46rem;
  left: 10rem;
  top: -5rem;
  position: absolute;
  background: linear-gradient(#00e5ff, #b400fb);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#dia2 .container::after {
  content: '';
  position: absolute;
  background: #191919;
  inset: 0.3rem;
  border-radius: 0.5rem;
}

#dia2 .container h1 {
  color: white;
  position: absolute;
  z-index: 1;
  font-size: 3rem;
}

/*-------------dia 3---------------*/
#dia3 {
  background-color: black;
}
#dia3 .btn {
  width: 16rem;
  height: 5rem;
  text-transform: capitalize;
  font-weight: 700;
  text-decoration: none;
  position: relative;
}

#dia3 .text-1,
#dia3 .text-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: 50% 50% -2.5rem;
  transition: all 0.3s;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

#dia3 .text-1 {
  transform: rotateX(0deg);
  background-color: #292929;
  color: #fff;
}

#dia3 .text-2 {
  transform: rotateX(90deg);
  background-color: #eee;
  color: #131313;
}

#dia3 .btn:hover .text-1 {
  transform: rotateX(-90deg);
}

#dia3 .btn:hover .text-2 {
  transform: rotateX(0deg);
}

#dia3 .icon {
  fill: white;
  stroke: white;
}

/*----------------dia 4 - Calculadora------------------*/
.calculadora {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 15px;
}
.botao {
  width: 50px;
  height: 50px;
  font-size: 25px;
  cursor: pointer;
  margin: 3px;
  background-color: rgb(31, 31, 31);
  border: none;
  color: #fff;
}
.botao:hover {
  background-color: black;
}
#resultado {
  background-color: white;
  width: 207px;
  height: 30px;
  margin: 5px;
  font-size: 25px;
  color: black;
  text-align: right;
  padding: 5px;
}
/*------------------dia 4 - 404 page not found-------------------*/
#dia5 {
  background: linear-gradient(
    315deg,
    rgba(101, 0, 94, 1) 3%,
    rgba(60, 132, 206, 1) 38%,
    rgba(48, 238, 226, 1) 68%,
    rgba(255, 25, 25, 1) 98%
  );

  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  overflow: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: absolute;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(2) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

#dia5 .fios {
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#dia5 .fios h1 {
  font-size: 10rem;
  margin-inline: auto;
}

#dia5 .fios h3 {
  width: fit-content;
  margin-inline: auto;
}

#dia5 .fios img {
  width: 10rem;
}

/*-----------dia 6 - efeito glassmorphism----------*/
#dia6 {
  background-color: #292929;
}

#dia6 .modal {
  width: 35rem;
  height: 35rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  position: relative;
  z-index: 1;

  padding: 2rem;
  text-align: center;

  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 0.8rem 3.2rem 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);

  border-radius: 1rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.18);
}

#dia6 .modal img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border: 0.3rem solid #b400fb;
  margin-bottom: 20px;
}

#dia6 .modal h2 {
  font-size: 3rem;
}

#dia6 .modal p {
  color: white;
  font-size: 1.3rem;
}

.ball {
  height: 10rem;
  width: 10rem;
  background: linear-gradient(#00e5ff, #b400fb);
  position: absolute;
  border-radius: 50%;
  z-index: 0;
}

.balls .ball:nth-child(1) {
  top: -15rem;
  left: -15rem;
  height: 30rem;
  width: 30rem;
}

.balls .ball:nth-child(2) {
  bottom: -15rem;
  right: -15rem;
  height: 50rem;
  width: 50rem;
}

.button-up,
.button-down {
  z-index: 2;
}

/*----------dia 7 - Contador ----------------*/
#dia7 {
  gap: 2rem;
  color: white;
  background-color: grey;
}
#dia7 h1 {
  font-size: 5rem;
}
#dia7 .buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

#dia7 .buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.392);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.5s;
}

#dia7 .buttons button:hover {
  width: 100px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.392);
  cursor: pointer;
}

#dia7 .buttons button:hover::after {
  margin-left: 0.5rem;
}

#dia7 .buttons button:nth-child(1):hover::after {
  content: 'Iniciar';
}

#dia7 .buttons button:nth-child(2):hover::after {
  content: 'Parar';
}

#dia7 .buttons button:nth-child(3):hover::after {
  content: 'Reset';
}

/*------------dia 8 - toggle-------------*/
#dia8 {
  transition: 0.3s;
}
#dia8 input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

#dia8 label {
  cursor: pointer;
  width: 200px;
  height: 100px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

#dia8 label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  background: #f2eee3;
  border-radius: 90px;
  transition: 0.3s;
}

#dia8 input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

#dia8 label:active:after {
  width: 130px;
}

#dia8.dark {
  background-color: black;
}

#dia8.dark label {
  background-color: #f2eee3;
}

#dia8.dark label:after {
  background-color: grey;
}

/*---------dia 9 - loading----------*/
#dia9 {
  background-image: url('https://img.freepik.com/vetores-gratis/conceito-realista-arco-iris-colorido_52683-35882.jpg?w=996&t=st=1661370442~exp=1661371042~hmac=2bc47198b856da232c8474b515bc77b45827974ec4fa18143e9b8cbdb22b4bd2');
  background-repeat: no-repeat;
  background-size: cover;
}
#dia9 .loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 15rem;
  height: 15rem;
  margin: -7.5rem 0 0 -7.5rem;
  border: 1.6rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 1.6rem solid #3498db;
  width: 12rem;
  height: 12rem;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
